<div class="container shadow-sm" style="width:100%; height:700px; margin-top:30px; background-color:#fff; border-radius:5px;">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="d-flex justify-content-center font-weight-bold" style="text-center">
        <p style="font-size:30px; margin-top:50px; margin-bottom:50px;"><%= @customer.last_name %><%= @customer.first_name %>さんの詳細編集</p>
      </div>
      <%= form_with model: @customer , url: admin_customer_path, method: :patch do |f| %>
        
        <div class="form-group form-inline row font-weight-bold mt-2 d-flex justify-content-center">
          <%= f.label :"OOTD ID" , class: "col-3 d-flex justify-content-start" %>
          <div class="field col-7">
            <%= f.text_field :ootd_id, autofocus: true, class: "col-auto form-control form-control-lg w-100" %>
          </div>
        </div>
          
        <div class="form-group form-inline row font-weight-bold d-flex justify-content-center">
          <div class="col-3 d-flex justify-content-between">
            <%= f.label :名前 %>
            <%= f.label:"(姓)" %>
          </div>
          <div class="field col-3">
            <%= f.text_field :last_name, class: "col-auto form-control form-control-lg w-100" %>
          </div>
          <%= f.label :"(名)　", class: "col-md-auto" %>
          <div class="field col-3">
            <%= f.text_field :first_name, class: "col-auto form-control form-control-lg w-100" %>
          </div>
        </div>
        
        <div class="form-group form-inline row font-weight-bold d-flex justify-content-center">
          <%= f.label :"メールアドレス", class: "col-3 d-flex justify-content-start" %>
          <div class="field col-7">
            <%= f.email_field :email, autocomplete: "email", class: "col-auto form-control form-control-lg w-100" %>
          </div>
        </div>
        
        <div class="form-group form-inline row font-weight-bold d-flex justify-content-center">
          <%= f.label :"会員ステータス" ,class: "col-md-3 d-flex justify-content-start" %>
          <%= f.radio_button :is_deleted, false %>
          <%= f.label :status_true,"有効" %>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label :status_false , "退会"%>
        </div>
        <div class="text-center">
          <%= f.submit "変更を保存" , class:"btn btn-success mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>